.navbar {
  border-radius: 0;
}
.navbar.navbar-inverse {
  height: 60px;
}
.navbar.navbar-inverse .navbar-brand {
  font-weight: 700;
  margin-top: 2px;
}
.jumbotron {
  background: #2561a3;
  border-radius: 5px;
  color: #fff;
}
#tb-info {
  margin-bottom: 5px;
}
.btn-sm {
  font-size: 11.4px;
}
#login-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#login-section #ls-container {
  height: auto;
  line-height: 30px;
}
#login-section #ls-container label {
  color: #aaa;
}
#login-section #ls-container .row {
  margin: 20px 0px;
}
#login-section #ls-container .panel.panel-default {
  border: none;
}
#login-section #ls-container .panel-heading {
  height: 62px;
  background: #2561a3;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#login-section #ls-container .panel-heading .login-head {
  font-size: 26px;
  font-weight: 500;
  line-height: 45px;
  color: #fff;
}
#login-section #ls-container .panel-body {
  background: #eee;
}
#login-section #ls-container .panel-footer {
  padding-top: 13px;
  padding-bottom: 13px;
}
#login-section #ls-container .panel-footer .btn.btn-success {
  background: #37d67a;
  border: none;
  width: 75px;
}
#dashboard-admin .link-logout {
  margin-top: 2px;
  line-height: 25px;
  font-weight: 200;
}
#dashboard-admin .link-logout button .btn-danger {
  background-color: #f36;
}
#dashboard-admin .link-logout span {
  padding: 8px 9.6px;
  border: 2.9px solid #aaa;
  border-radius: 18px;
  color: #aaa;
  font-size: 12px;
}
#dashboard-admin .link-logout span:hover {
  color: #f00;
  border: none;
  border: 2.9px solid #f00;
}
#dashboard-admin p {
  line-height: 27px;
}
#dashboard-admin .admin-menu li span {
  font-size: 12px;
}
#dashboard-admin .admin-menu li .pull-right i {
  line-height: 15px;
}
#dashboard-admin .admin-menu li .super-small {
  font-size: 8px;
}
#dashboard-admin #dash-container {
  border: 1px solid #ccc;
  padding: 5px 5px 5px 5px;
  border-radius: 3px;
}
#dashboard-admin #dash-container #dash-pp {
  width: 100%;
  background: #aaa;
  border-radius: 5px;
}
#dashboard-admin #dash-container #dash-pp img {
  width: 100%;
}
#dashboard-admin #dash-container #dash-info {
  text-align: center;
}
#dashboard-admin #dash-container #dash-info #nama-info {
  font-size: 16px;
  display: block;
  padding: 7px 0;
}
#dashboard-admin #dash-container #dash-info .role-info {
  display: block;
  font-size: 11px;
}
#ikd-form1,
.ikd-form2 {
  font-size: 8px;
}
#ikd-form1 label,
.ikd-form2 label {
  font-size: 14px;
}
#hasil-k3-2 table thead {
  font-size: 11px;
}
#tb-dosen a {
  color: #fff;
}
#tb-dosen a:hover {
  text-decoration: none;
}
hr {
  border: 1;
}
