ul.nav.nav-tabs(role="tablist")
  li.active.tt(role="presentation")
    a(href="#profil",aria-controls="profil",role="tab",data-toggle="tab") 
      small
        i.glyphicon.glyphicon-user
      b   Pengaturan Akun
.tab-content
  br  
  .col-sm-12
    form#form-profil
      .row
        .form-group
          .col-sm-2 Username*
          .col-sm-4
            input.form-control
      br
      .row
        .form-group
          .col-sm-2 Password Lama*
          .col-sm-4
            input(type="password").form-control
      br
      .row
        .form-group
          .col-sm-2 Password Baru*
          .col-sm-4
            input(type="password").form-control
      br    
      .row
        .form-group
          .col-sm-2 Ulangi Password Baru*
          .col-sm-4
            input(type="password").form-control
      br
      .row
        .well
          button.btn.btn-sm.btn-primary Simpan Perubahan
          button.btn.btn-sm.btn-default Batal
