//output:../_admin/ikd.html
extends ./master.jade

block custom_css
  link(rel="stylesheet",href="../css/select2.min.css")
  link(rel="stylesheet",href="../css/bootstrap-datetimepicker.min.css")

block content
  include include/ikd/_ikd-content.jade
  
  
block custom_script
  script(src="../js/select2.min.js")
  script(src="../js/moment.min.js")
  script(src="../js/bootstrap-datetimepicker.min.js")
  script(src="../js/ikd.js")
  script(type="text/javascript")
    $('#ikd-nav').addClass('active')
      
