//output:../login.html

html(lang="en")
  head
    meta(name="viewport",content="width:device-width;initial-scale:1.0")
    link(rel="stylesheet",href="css/bootstrap.min.css")
    link(rel="stylesheet",href="css/main.css")
    title
      | Login section
  body
    #login-section
      .col-sm-4#ls-container
        .panel.panel-default
          .panel-heading.text-center
            span.login-head
              | Index kinerja dosen
          .panel-body
            .row
              .form-group
                label.col-sm-3 Username
                .col-sm-9
                  input.form-control
            .row
              .form-group
                label.col-sm-3 Password
                .col-sm-9
                  input(type="password").form-control
          .panel-footer.clearfix
            .col-sm-12
              .text-right
                button.btn.btn-success Login
              
    
    script(src="js/jquery.min.js")
    script(src="js/main.js")
