html(lang="en")
  head
    meta(name="viewport",content="width:device-width;initial-scale:1.0")
    link(rel="stylesheet",href="../css/bootstrap.min.css")
    link(rel="stylesheet",href="../css/font-awesome.min.css")
    link(rel="stylesheet",href="../css/main.css")
    block custom_css
  body
    #dashboard-admin.clearfix
      include include/_navbar.jade
      br
      .col-sm-12
        .col-sm-10(style="padding:0")
          block content
        
        .col-sm-2
          include include/_main-navigation.jade
    include include/footer.html
          
    script(src="../js/jquery.js")
    script(src="../js/bootstrap.min.js")
    script(src="../js/main.js")
    block custom_script
