//output:../_admin/profil.html
extends ./master.jade

block custom_css
  link(rel="stylesheet",href="../css/select2.min.css")

block content
  include include/profil/_profil-content.jade
  
  
block custom_script
  script(type="text/javascript")
    $('#profil-nav').addClass('active')
      
