//output:../_admin/rekap-input.html
extends master.jade
block custom_css
  link(rel="stylesheet",href="../css/select2.min.css")
block content
  .col-sm-12.bg-info(style="padding:5px")
    form#form-dekan
      .col-sm-12
        .row.clearfix#ikd-form1
          .col-sm-3.col-sm-offset-4(style="padding:0")
            label.col-sm-4.text-right(style="line-height:30px;padding:0")
              small Semester &nbsp;
            .col-sm-8(style="padding:0")
              select.form-control
                <option value="0">-- Pilih Semester --</option>
                <option value="20151">GASAL 2015/2016</option>
                <option value="20142">GENAP 2014/2015</option>
                <option value="20141">GASAL 2014/2015</option>
                <option value="20132">GENAP 2013/2014</option>
                <option value="20131">GASAL 2013/2014</option>
                <option value="20122">GENAP 2012/2013</option>
                <option value="20121">GASAL 2012/2013</option>
                <option value="20112">GENAP 2011/2012</option>
                <option value="20111">GASAL 2011/2012</option>
                <option value="20102">GENAP 2010/2011</option>
                <option value="20101">GASAL 2010/2011</option>
                <option value="20092">GENAP 2009/2010</option>
                <option value="20091">GASAL 2009/2010</option>
                <option value="20082">GENAP 2008/2009</option>
                <option value="20081">GASAL 2008/2009</option>
                <option value="20072">GENAP 2007/2008</option>
                <option value="20071">GASAL 2007/2008</option>
                <option value="20062">GENAP 2006/2007</option>
                <option value="20061">GASAL 2006/2007</option>
                <option value="20052">GENAP 2005/2006</option>
                <option value="20051">GASAL 2005/2006</option>
                <option value="20042">GENAP 2004/2005</option>
                <option value="20041">GASAL 2004/2005</option>
                <option value="20032">GENAP 2003/2004</option>
                <option value="20031">GASAL 2003/2004</option>
                <option value="20022">GENAP 2002/2003</option>
                <option value="20021">GASAL 2002/2003</option>
                <option value="20012">GENAP 2001/2002</option>
                <option value="20011">GASAL 2001/2002</option>
                <option value="20002">GENAP 2000/2001</option>
                <option value="20001">GASAL 2000/2001</option>
                <option value="19992">GENAP 1999/2000</option>
                <option value="19991">GASAL 1999/2000</option>
                <option value="19982">GENAP 1998/1999</option>
                <option value="19981">GASAL 1998/1999</option>
          .col-sm-2
            button.btn.btn-default.btn-sm Lihat
  .col-sm-12
    .hidden#dekan-container
      &nbsp;
      .row
        include include/tb-rekap.html
  
block custom_script
  script(src="../js/select2.min.js")
  script(src="../js/moment.min.js")
  script(src="../js/bootstrap-datetimepicker.min.js")
  script(src="../js/dekan-dekan.js")
