//output:../_admin/setting.html
extends ./master.jade

block custom_css
  link(rel="stylesheet",href="../css/select2.min.css")
  link(rel="stylesheet",href="../css/custom.css")
  link(rel="stylesheet",href="../css/bootstrap-datetimepicker.min.css")

block content
    include include/setting/_setting-content.jade
  
  
block custom_script
  script(src="../js/select2.min.js")
  script(src="../js/moment.min.js")
  script(src="../js/bootstrap-datetimepicker.min.js")
  script(src="../js/setting.js")
  script(type="text/javascript")
    $('#setting-nav').addClass('active')
      
