.jumbotron.bg-primary(style="padding:25px")
  h4(style="font-size:30px") Selamat Datang di aplikasi Indeks Kinerja Dosen!
  | Prodi dapat melihat secara keseluruhan rekapitulasi Indeks Kinerja Dosen pada prodi tertentu. Prodi juga berkewajiban memeriksa Indeks Kinerja Dosen masing-masing dosen di prodi tersebut dengan menekan tombol periksa yang ada di bagian bawah halaman ini.
.alert.alert-success.alert-dismissible.fade.in(role="alert")
  | <b>Selamat Datang</b> Kartika Firdausy S.T.,M.T !
  button(class="close",data-dismiss="alert") &times;
.row
  .col-sm-4.text-center
    small
      i.fa.fa-file-o.fa-2x
    h4 
      b Dokumentasi 
    small
      p Indeks Kinerja Dosen difungsikan untuk mengukur prestasi atau profesionalitas kerja dosen dalam melakukan tugasnya sebagai tenaga pengajar. Indeks Kinerja Dosen akan direkapitulasi setiap semesternya. Data dari Indeks Kinerja Dosen setiap semester akan tetap ditampung sehingga hasil kinerja dosen tersebut dapat dilihat dari waktu kewaktu dan dapat terdokumentasi
  .col-sm-4.text-center
    i.fa.fa-code-fork.fa-2x
    h4
      b Integrasi
    small
      p  Indeks Kinerja Dosen memungkinkan 4 Prodi yang ada pada Fakultas Teknologi Industri UAD untuk saling berintegrasi satu sama lain. Dekan Fakultas Teknologi Industri dapat melihat keseluruhan rekapitulasi Indeks Kinerja Dosen untuk semua Prodi, baik Prodi Teknik Informatika, Teknik Elektro, Teknik Industri, maupun Teknik Kimia sehingga Dekan dapat memantau kinerja semua dosen yang ada pada masing-masing Prodi di Fakultas Teknologi Industri.
  .col-sm-4.text-center
    i.fa.fa-clock-o.fa-2x
    h4
      b Efisiensi
    small
      p Indeks Kinerja Dosen memudahkan petugas Tata Usaha untuk merekapitulasi kinerja dosen yang dihitung berdasarkan Ketepatan Penyerahan Nilai (K1), Kehadiran Mengajar (k2), Penilaian Mahasiswa (k3). Sistem yang sangat user friendly memudahkan petugas Tata Usaha untuk memproses data kinerja dosen, selain itu sistem ini dapat diakses kapan saja dan dimana saja.
