#dash-container
  #dash-pp
    img(src="../img/user.jpg")
  #dash-info
    b#nama-info Kartika Firdausy, S.T.,M.T
    span.role-info Dekan
    span.role-info Fakultas Teknologi Industri
    
  br
  ul.nav.nav-pills.nav-stacked.admin-menu
    li#dekan
      a(href="dekan-dekan.html")
        small 
          i.glyphicon.glyphicon-user
        | &nbsp; <span>|&nbsp; Dekan</span>
        
        small.super-small
          .pull-right
            i.glyphicon.glyphicon-menu-right
    li#setting
      a(href="dekan-setting.html")
        small 
          i.glyphicon.glyphicon-cog
        | &nbsp; <span>|&nbsp; Setting</span>
        
        small.super-small
          .pull-right
            i.glyphicon.glyphicon-menu-right
    li#rekap-ikd
      a(href="dekan-rekap-ikd.html") 
        small
          i.glyphicon.glyphicon-tasks
        | &nbsp; <span>|&nbsp; Rekap IKD</span>
        
        small.super-small
          .pull-right
            i.glyphicon.glyphicon-menu-right
