#dash-container
  #dash-pp
    img(src="../img/user.jpg")
  #dash-info
    b#nama-info Dewi Soyusiowaty, S.T.,M.T
    span.role-info Dosen
    span.role-info Fakultas Teknologi Industri
    
  br
  ul.nav.nav-pills.nav-stacked.admin-menu
    li#dekan
      a(href="dosen-dosen.html")
        small 
          i.glyphicon.glyphicon-user
        | &nbsp; <span>|&nbsp; Dosen</span>
        
        small.super-small
          .pull-right
            i.glyphicon.glyphicon-menu-right
    li#setting
      a(href="dosen-setting.html")
        small 
          i.glyphicon.glyphicon-cog
        | &nbsp; <span>|&nbsp; Setting</span>
        
        small.super-small
          .pull-right
            i.glyphicon.glyphicon-menu-right
