#dash-container
  #dash-pp
    img(src="../img/user.jpg")
  #dash-info
    b#nama-info Sri Winiarti S.T.,M.Cs
    span.role-info Kaprodi
    span.role-info Fakultas Teknologi Industri
    
  br
  ul.nav.nav-pills.nav-stacked.admin-menu
    li#kp
      a(href="kp-kp.html")
        small 
          i.glyphicon.glyphicon-user
        | &nbsp; <span>|&nbsp; Prodi</span>
        
        small.super-small
          .pull-right
            i.glyphicon.glyphicon-menu-right
    li#setting
      a(href="kp-setting.html")
        small 
          i.glyphicon.glyphicon-cog
        | &nbsp; <span>|&nbsp; Setting</span>
        
        small.super-small
          .pull-right
            i.glyphicon.glyphicon-menu-right
    li#rekap-ikd
      a(href="kp-rekap-ikd.html") 
        small
          i.glyphicon.glyphicon-tasks
        | &nbsp; <span>|&nbsp; Rekap IKD</span>
        
        small.super-small
          .pull-right
            i.glyphicon.glyphicon-menu-right
