#dash-container
  #dash-pp
    img(src="../img/user.jpg")
  #dash-info
    b#nama-info Sulasmini
    span.role-info Administrator
    span.role-info Fakultas Teknologi Industri
    
  br
  ul.nav.nav-pills.nav-stacked.admin-menu
    li#ikd-nav
      a(href="ikd.html")
        small 
          i.glyphicon.glyphicon-th
        | &nbsp; <span>|&nbsp; Hitung IKD</span>
        
        small.super-small
          .pull-right
            i.glyphicon.glyphicon-menu-right
    li#profil-nav
      a(href="profil.html")
        small 
          i.glyphicon.glyphicon-user
        | &nbsp; <span>|&nbsp; Profile</span>
        
        small.super-small
          .pull-right
            i.glyphicon.glyphicon-menu-right
    li#setting-nav
      a(href="setting.html") 
        small
          i.glyphicon.glyphicon-cog
        | &nbsp; <span>|&nbsp; Setting</span>
        
        small.super-small
          .pull-right
            i.glyphicon.glyphicon-menu-right
    li#adm-setting-nav
      a(href="admin-setting.html") 
        small
          i.glyphicon.glyphicon-wrench
          | &nbsp; <span>|&nbsp; Admin Setting</span>
          
        small.super-small
          .pull-right
            i.glyphicon.glyphicon-menu-right
    li#rekap-input-nav(style="border-bottom:0px")
      a(href="rekap-input.html") 
        small
          i.glyphicon.glyphicon-tasks
          | &nbsp; <span>|&nbsp; Rekap Input</span>
        small.super-small
          .pull-right
            i.glyphicon.glyphicon-menu-right
