nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(data-toggle="collapse",data-target="#mynav",aria-expanded="false")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="index.html",style="font-weight:200;font-size:21px") Indeks kinerja dosen
    .collapse.navbar-collapse#mynav
      .nav.navbar-nav.navbar-right
        li
          a(href="../login.html").link-logout
            button.btn.btn-danger.btn-sm Logout
