<footer class="footer text-center" style="font-size:10px;margin-top:100px">
  <hr>
  <p>Indeks Kinerja Dosen Fakultas Teknologi Industri Universitas Ahmad Dahlan Yogyakarta<br>
  Copyright © <a href="http://localhost/v1/">Indeks Kinerja Dosen</a> 2012 - 2016 | All Right Reserved.<br>
  Universitas Ahmad Dahlan</p>
</footer>
