<tr>
  <td>1</td>
  <td>19620218 198702 1 001</td>
  <td>Muchlas, Drs., M.T.</td>
  <td>3.88</td>
  <td><strong>1</strong></td>
</tr>


<tr>
  <td>2</td>
  <td>60090577</td>
  <td>Wachid Eko Purwanto, S.Pd.</td>
  <td>3.82</td>
  <td><strong>2</strong></td>
</tr>


<tr>
  <td>3</td>
  <td>60030476</td>
  <td>Ardiansyah, S.T., M.Cs.</td>
  <td>3.82</td>
  <td><strong>3</strong></td>
</tr>


<tr>
  <td>4</td>
  <td>60920111</td>
  <td>Siti Salamah, Dra., M.Si.</td>
  <td>3.81</td>
  <td><strong>4</strong></td>
</tr>


<tr>
  <td>5</td>
  <td>60040497</td>
  <td>Dewi Soyusiowaty, S.T., M.T.</td>
  <td>3.80</td>
  <td><strong>5</strong></td>
</tr>


<tr>
  <td>6</td>
  <td>60040507</td>
  <td>Agung Kristanto, S.T., M.T.</td>
  <td>3.80</td>
  <td><strong>6</strong></td>
</tr>


<tr>
  <td>7</td>
  <td>60110649</td>
  <td>Murien Nugraheni, S.T.</td>
  <td>3.78</td>
  <td><strong>7</strong></td>
</tr>


<tr>
  <td>8</td>
  <td>60960128</td>
  <td>Annie Purwani, STP., M.T.</td>
  <td>3.78</td>
  <td><strong>8</strong></td>
</tr>


<tr>
  <td>9</td>
  <td>60150801</td>
  <td>Umi Salamah, S.Si., M.Sc.</td>
  <td>3.76</td>
  <td><strong>9</strong></td>
</tr>


<tr>
  <td>10</td>
  <td>60090587</td>
  <td>Lisna Zahrotun, S.T.</td>
  <td>3.76</td>
  <td><strong>10</strong></td>
</tr>


<tr>
  <td>11</td>
  <td>198011152005011002</td>
  <td>Fiftin Noviyanto, S.T., M.Cs.</td>
  <td>3.76</td>
  <td><strong>11</strong></td>
</tr>


<tr>
  <td>12</td>
  <td>601019168</td>
  <td>Utaminingsih Linarti., S.T., M.T.</td>
  <td>3.75</td>
  <td><strong>12</strong></td>
</tr>


<tr>
  <td>13</td>
  <td>60030479</td>
  <td>Muhammad Azis, S.T., M.Sc.</td>
  <td>3.75</td>
  <td><strong>13</strong></td>
</tr>


<tr>
  <td>14</td>
  <td>60140765</td>
  <td>Yosi Wulandari, S.Pd,M.Pd.</td>
  <td>3.73</td>
  <td><strong>14</strong></td>
</tr>


<tr>
  <td>15</td>
  <td>60110648</td>
  <td>Herman Yuliansyah, S.T., M.Eng.</td>
  <td>3.73</td>
  <td><strong>15</strong></td>
</tr>


<tr>
  <td>16</td>
  <td>60010253</td>
  <td>Endah Sulistiawati, S.T., M.T.</td>
  <td>3.73</td>
  <td><strong>16</strong></td>
</tr>


<tr>
  <td>17</td>
  <td>60130756</td>
  <td>Yana Hendriana, S.T., M.Eng.</td>
  <td>3.72</td>
  <td><strong>17</strong></td>
</tr>


<tr>
  <td>18</td>
  <td>60130757</td>
  <td>Andri Pranolo, S.Kom., M.Cs.</td>
  <td>3.72</td>
  <td><strong>18</strong></td>
</tr>


<tr>
  <td>19</td>
  <td>60150841</td>
  <td>Adhi Prahara, S.Si., M.Cs.</td>
  <td>3.72</td>
  <td><strong>19</strong></td>
</tr>


<tr>
  <td>20</td>
  <td>60020388</td>
  <td>Sri Winiarti, S.T., M.Cs.</td>
  <td>3.71</td>
  <td><strong>20</strong></td>
</tr>


<tr>
  <td>21</td>
  <td>197002062005011001</td>
  <td>Eko Aribowo, S.T., M.Kom.</td>
  <td>3.71</td>
  <td><strong>21</strong></td>
</tr>


<tr>
  <td>22</td>
  <td>0816666856</td>
  <td>Teguh Dwi Cahyadi, S.S., M.A.</td>
  <td>3.70</td>
  <td><strong>22</strong></td>
</tr>


<tr>
  <td>23</td>
  <td>60010255</td>
  <td>MARYUDI, Dr., S.T., M.T.</td>
  <td>3.68</td>
  <td><strong>23</strong></td>
</tr>


<tr>
  <td>24</td>
  <td>60030480</td>
  <td>Ardi Pujiyanta, Ir., M.T.</td>
  <td>3.68</td>
  <td><strong>24</strong></td>
</tr>


<tr>
  <td>25</td>
  <td>60960145</td>
  <td>Endah Utami, S.T., M.T.</td>
  <td>3.67</td>
  <td><strong>25</strong></td>
</tr>


<tr>
  <td>26</td>
  <td>60090586</td>
  <td>Arfiani Nur Khusna, S.T.</td>
  <td>3.67</td>
  <td><strong>26</strong></td>
</tr>


<tr>
  <td>27</td>
  <td>132312583</td>
  <td>Ali Tarmuji, S.T., M.Cs.</td>
  <td>3.67</td>
  <td><strong>27</strong></td>
</tr>


<tr>
  <td>28</td>
  <td>60150844</td>
  <td>Agus Aktawan, S.T., M.Eng.</td>
  <td>3.67</td>
  <td><strong>28</strong></td>
</tr>


<tr>
  <td>29</td>
  <td>60150834</td>
  <td>Trisna Sukmayadi, S.Pd., M.Pd.</td>
  <td>3.66</td>
  <td><strong>29</strong></td>
</tr>


<tr>
  <td>30</td>
  <td>60980173</td>
  <td>Imam Santosa, S.T., M.T.</td>
  <td>3.66</td>
  <td><strong>30</strong></td>
</tr>


<tr>
  <td>31</td>
  <td>60920104</td>
  <td>Parjiman, Drs., M.Ag.</td>
  <td>3.65</td>
  <td><strong>31</strong></td>
</tr>


<tr>
  <td>32</td>
  <td>9190911</td>
  <td>Fadlun Amin, M.A.</td>
  <td>3.65</td>
  <td><strong>32</strong></td>
</tr>


<tr>
  <td>33</td>
  <td>60040496</td>
  <td>Murinto, S.Si., M.Kom.</td>
  <td>3.64</td>
  <td><strong>33</strong></td>
</tr>


<tr>
  <td>34</td>
  <td>60960138</td>
  <td>Isana Arum Primasari, S.T., M.T.</td>
  <td>3.64</td>
  <td><strong>34</strong></td>
</tr>


<tr>
  <td>35</td>
  <td>197911172003122002</td>
  <td>Anom Wahyu Prasetyojati, S.H., M.H.</td>
  <td>3.64</td>
  <td><strong>35</strong></td>
</tr>


<tr>
  <td>36</td>
  <td>60030475</td>
  <td>Tedy Setiadi, Drs., M.T.</td>
  <td>3.63</td>
  <td><strong>36</strong></td>
</tr>


<tr>
  <td>37</td>
  <td>60010308</td>
  <td>Sri Handayaningsih, S.T., M.T.</td>
  <td>3.63</td>
  <td><strong>37</strong></td>
</tr>


<tr>
  <td>38</td>
  <td>60150808</td>
  <td>Nursyiva Irsalinda, S.Si., M.Sc.</td>
  <td>3.63</td>
  <td><strong>38</strong></td>
</tr>


<tr>
  <td>39</td>
  <td>60960135</td>
  <td>Reni Dwi Astuti, STP., M.T.</td>
  <td>3.61</td>
  <td><strong>39</strong></td>
</tr>


<tr>
  <td>40</td>
  <td>60910095</td>
  <td>Wahyu Pujiyono, Drs., M. Kom.</td>
  <td>3.57</td>
  <td><strong>40</strong></td>
</tr>


<tr>
  <td>41</td>
  <td>60980174</td>
  <td>Rusydi Umar, M.T., Ph.D.</td>
  <td>3.57</td>
  <td><strong>41</strong></td>
</tr>


<tr>
  <td>42</td>
  <td>60150839</td>
  <td>Riky Dwi Puriyanto, S.T., M.Eng.</td>
  <td>3.55</td>
  <td><strong>42</strong></td>
</tr>


<tr>
  <td>43</td>
  <td>60880058</td>
  <td>Zultiyanti, Dra., M.A.</td>
  <td>3.51</td>
  <td><strong>43</strong></td>
</tr>


<tr>
  <td>44</td>
  <td>60010314</td>
  <td>Taufiq Ismail, S.T., M.Cs.</td>
  <td>3.50</td>
  <td><strong>44</strong></td>
</tr>


<tr>
  <td>45</td>
  <td>60090589</td>
  <td>Rudi Yuniawati, S.Psi., M.Psi.</td>
  <td>3.49</td>
  <td><strong>45</strong></td>
</tr>


<tr>
  <td>46</td>
  <td>60150807</td>
  <td>Syarifah Inayati, S.Pd., M.Si.</td>
  <td>3.41</td>
  <td><strong>46</strong></td>
</tr>


<tr>
  <td>47</td>
  <td>60150842</td>
  <td>Dewi Pramudi Ismi, S.T., M.CompSc</td>
  <td>3.40</td>
  <td><strong>47</strong></td>
</tr>


<tr>
  <td>48</td>
  <td>197111112005011001</td>
  <td>Denny Dermawan, S.T., M.Eng.</td>
  <td>3.38</td>
  <td><strong>48</strong></td>
</tr>


<tr>
  <td>49</td>
  <td>1203851216128</td>
  <td>Siti Majidah, Lc.</td>
  <td>3.33</td>
  <td><strong>49</strong></td>
</tr>


<tr>
  <td>50</td>
  <td>60020377</td>
  <td>Choirul Bariyah, S.T., M.T.</td>
  <td>3.29</td>
  <td><strong>50</strong></td>
</tr>


<tr>
  <td>51</td>
  <td>19780815 200501 1 001</td>
  <td>Nuryono Satya Widodo, S.T., M.Eng.</td>
  <td>3.22</td>
  <td><strong>51</strong></td>
</tr>


<tr>
  <td>52</td>
  <td>60111623</td>
  <td>Iis Suwartini, S.Pd., M.Pd.</td>
  <td>3.16</td>
  <td><strong>52</strong></td>
</tr>


<tr>
  <td>53</td>
  <td>60020389</td>
  <td>Yudi Ari Adi, S.Si., M.Si.</td>
  <td>3.05</td>
  <td><strong>53</strong></td>
</tr>


<tr>
  <td>54</td>
  <td>60960140</td>
  <td>Abdul Fadlil, Dr., M.T.</td>
  <td>3.05</td>
  <td><strong>54</strong></td>
</tr>


<tr>
  <td>55</td>
  <td>197608192005012001</td>
  <td>Nur Rochmah Dyah PA, S.T., M.Kom.</td>
  <td>3.02</td>
  <td><strong>55</strong></td>
</tr>


<tr>
  <td>56</td>
  <td>60010305</td>
  <td>Zahrul Mufrodi, S.T., M.T.</td>
  <td>3.01</td>
  <td><strong>56</strong></td>
</tr>


<tr>
  <td>57</td>
  <td>60010310</td>
  <td>Tole Sutikno, S.T., M.T.</td>
  <td>3.00</td>
  <td><strong>57</strong></td>
</tr>


<tr>
  <td>58</td>
  <td>60030120</td>
  <td>Marzuki Simatupang, Drs, M.Ag</td>
  <td>3.00</td>
  <td><strong>58</strong></td>
</tr>


<tr>
  <td>59</td>
  <td>60960141</td>
  <td>Erna Astuti, S.T., M.T.</td>
  <td>2.99</td>
  <td><strong>59</strong></td>
</tr>


<tr>
  <td>60</td>
  <td>608022008</td>
  <td>Son Ali Akbar, S.T.</td>
  <td>2.98</td>
  <td><strong>60</strong></td>
</tr>


<tr>
  <td>61</td>
  <td>0520116901</td>
  <td>M. Andang Novianto, S.T., M.T.</td>
  <td>2.95</td>
  <td><strong>61</strong></td>
</tr>


<tr>
  <td>62</td>
  <td>0818271545</td>
  <td>Saptoni, S.Ag., M.A.</td>
  <td>2.80</td>
  <td><strong>62</strong></td>
</tr>


<tr>
  <td>63</td>
  <td>60030472</td>
  <td>Afan Kurniawan, S.T., M.T.</td>
  <td>2.80</td>
  <td><strong>63</strong></td>
</tr>


<tr>
  <td>64</td>
  <td>085725465542</td>
  <td>Hatib Rahmawan, S.Pd., S.Th.I.</td>
  <td>2.79</td>
  <td><strong>64</strong></td>
</tr>


<tr>
  <td>65</td>
  <td>60020397</td>
  <td>Dr. Imam Riadi, M.Kom.</td>
  <td>2.79</td>
  <td><strong>65</strong></td>
</tr>


<tr>
  <td>66</td>
  <td>60010311</td>
  <td>Rahmat Muhajir Nugroho, S.H., M.H.</td>
  <td>2.77</td>
  <td><strong>66</strong></td>
</tr>


<tr>
  <td>67</td>
  <td>087838100214</td>
  <td>Nurrochid Hasan, Drs.</td>
  <td>2.73</td>
  <td><strong>67</strong></td>
</tr>


<tr>
  <td>68</td>
  <td>60920112</td>
  <td>Tri Budiyanto, Ir., M.T.</td>
  <td>2.64</td>
  <td><strong>68</strong></td>
</tr>


<tr>
  <td>69</td>
  <td>60150800</td>
  <td>Qonitatul Hidayah, S.Si., M.Sc.</td>
  <td>2.64</td>
  <td><strong>69</strong></td>
</tr>


<tr>
  <td>70</td>
  <td>08122782322</td>
  <td>Ahmad Arif Rifan, S.Ag., M.SI.</td>
  <td>2.64</td>
  <td><strong>70</strong></td>
</tr>


<tr>
  <td>71</td>
  <td>196202181987021001</td>
  <td>Muchlas, Dr., M.T.</td>
  <td>2.60</td>
  <td><strong>71</strong></td>
</tr>


<tr>
  <td>72</td>
  <td>60960147</td>
  <td>Mushlihudin, S.T., M.T.</td>
  <td>2.57</td>
  <td><strong>72</strong></td>
</tr>


<tr>
  <td>73</td>
  <td>60010313</td>
  <td>Sunardi, S.T., M.T., Ph.D.</td>
  <td>2.56</td>
  <td><strong>73</strong></td>
</tr>


<tr>
  <td>74</td>
  <td>60910097</td>
  <td>Aris Tobirin, Drs, M.Si</td>
  <td>2.40</td>
  <td><strong>74</strong></td>
</tr>


<tr>
  <td>75</td>
  <td>081903719517</td>
  <td>Hanif Cahyo AK, S.Ag., M.A.</td>
  <td>2.23</td>
  <td><strong>75</strong></td>
</tr>


<tr>
  <td>76</td>
  <td>60010383</td>
  <td>Anton Yudhana, S.T., M.T., Ph.D.</td>
  <td>2.20</td>
  <td><strong>76</strong></td>
</tr>


<tr>
  <td>77</td>
  <td>197808152005011001</td>
  <td>Nuryono Satya Widodo, S.T., M.Eng.</td>
  <td>1.49</td>
  <td><strong>77</strong></td>
</tr>


<tr>
  <td>78</td>
  <td>60020393</td>
  <td>Kartika Firdausy, S.T., M.T.</td>
  <td>1.39</td>
  <td><strong>78</strong></td>
</tr>


<tr>
  <td>79</td>
  <td>60010256</td>
  <td>Wahyu Sapto Aji, S.T., M.T.</td>
  <td>1.31</td>
  <td><strong>79</strong></td>
</tr>


<tr>
  <td>80</td>
  <td>60020396</td>
  <td>Arif Rahman, S.Kom., M.T.</td>
  <td>0.00</td>
  <td><strong>80</strong></td>
</tr> 
