.row
  form.col-sm-12
    .row
      label.col-sm-2.text-right Dekan FTI
      .col-sm-3
        input.form-control
    br
    .row
      label.col-sm-2.text-right Username
      .col-sm-3
        input.form-control
    br
    .row
      label.col-sm-2.text-right Password
      .col-sm-3
        input(type="password").form-control  
        
    br
    .row.text-right
      .col-sm-5
        button.btn.btn-primary Atur Dekan
.row
  hr
  span.text-primary >> DEKAN : 
  label.label.label-primary efjeifejfijfeijf
