.row
  .col-sm-12
    .row
    .col-sm-9
      .row
        .tab-content
          .tab-pane#ti.active
            .row
              form.col-sm-12
                .row
                  label.col-sm-3.text-right Kaprodi teknik informatika
                  .col-sm-4
                    input(value="Sri Winiarti, S.T., M.Cs").form-control
                br
                .row
                  label.col-sm-3.text-right Username
                  .col-sm-4
                    input.form-control
                br
                .row
                  label.col-sm-3.text-right Password
                  .col-sm-4
                    input(type="password").form-control  
                    
                br
                .row.text-center
                  button.btn.btn-primary Atur KaProdi
              .col-sm-12
                span.text-primary >> KAPRODI : 
                label.label.label-primary Sri Winiarti, S.T., M.Cs
                
          .tab-pane#tin
            .row
              form.col-sm-12
                .row
                  label.col-sm-3.text-right Kaprodi teknik industri
                  .col-sm-4
                    input(value="Choirul Bariyah, S.T., M.T.").form-control
                br
                .row
                  label.col-sm-3.text-right Username
                  .col-sm-4
                    input.form-control
                br
                .row
                  label.col-sm-3.text-right Password
                  .col-sm-4
                    input(type="password").form-control  
                    
                br
                .row.text-center
                  button.btn.btn-primary Atur KaProdi
              .col-sm-12
                span.text-primary >> KAPRODI : 
                label.label.label-primary Choirul Bariyah, S.T., M.T.
          .tab-pane#tk
            .row
              form.col-sm-12
                .row
                  label.col-sm-3.text-right Kaprodi teknik kimia
                  .col-sm-4
                    input(value="Dr. Erna Astuti, S.T., M.T.").form-control
                br
                .row
                  label.col-sm-3.text-right Username
                  .col-sm-4
                    input.form-control
                br
                .row
                  label.col-sm-3.text-right Password
                  .col-sm-4
                    input(type="password").form-control  
                    
                br
                .row.text-center
                  button.btn.btn-primary Atur KaProdi
              .col-sm-12
                span.text-primary >> KAPRODI : 
                label.label.label-primary Dr. Erna Astuti, S.T., M.T. 
          .tab-pane#te
            .row
              form.col-sm-12
                .row
                  label.col-sm-3.text-right Kaprodi teknik elektro
                  .col-sm-4
                    input(value="Nuryono Satya Widodo, S.T., M.Eng.").form-control
                br
                .row
                  label.col-sm-3.text-right Username
                  .col-sm-4
                    input.form-control
                br
                .row
                  label.col-sm-3.text-right Password
                  .col-sm-4
                    input(type="password").form-control  
                    
                br
                .row.text-center
                  button.btn.btn-primary Atur KaProdi
              .col-sm-12
                span.text-primary >> KAPRODI : 
                label.label.label-primary Nuryono Satya Widodo, S.T., M.Eng.
    .col-sm-3
      .tababble.tabs-right
        ul.nav.nav-tabs
          li.active
            a(href="#ti",aria-controls="ti",role="tab",data-toggle="tab") Teknik informatika
          li
            a(href="#tin",aria-controls="tin",role="tab",data-toggle="tab") Teknik industri
          li
            a(href="#tk",aria-controls="tk",role="tab",data-toggle="tab") Teknik kimia
          li
            a(href="#te",aria-controls="te",role="tab",data-toggle="tab") Teknik elektro
