.row
  form.col-sm-12.clearfix
    .row
      label.col-sm-2.text-right Prodi
      .col-sm-3
        input.form-control
    br
    .row
      label.col-sm-2.text-right Kode prodi
      .col-sm-3
        input.form-control 
        
    br
    .row.text-right
      .col-sm-5
        button.btn.btn-primary Tambah prodi
.row
  span#tb-info.pull-right Terdaftar <b>4</b> program studi
  table.table.table-hover.table-striped
    thead
      tr
        th #
        th Kode Program Studi
        th Program Studi
        th Aksi
    tbody
      tr
        td 1
        td 18
        td TEKNIK INFORMATIKA
        td 
          button.btn.btn-xs.btn-danger Hapus
      tr
        td 2
        td 19
        td TEKNIK INDUSTRI
        td 
          button.btn.btn-xs.btn-danger Hapus
      tr
        td 3
        td 20
        td TEKNIK KIMIA
        td 
          button.btn.btn-xs.btn-danger Hapus
      tr
        td 4
        td 21
        td TEKNIK ELEKTRO
        td 
          button.btn.btn-xs.btn-danger Hapus
