ul.nav.nav-tabs(role="tablist")
  li.active.tt(role="presentation")
    a(href="#pkp",aria-controls="pkp",role="tab",data-toggle="tab") 
      i.fa.fa-users
      |  Pengaturan KaProdi
  li.tt(role="presentation")
    a(href="#pdk",aria-controls="pdk",role="tab",data-toggle="tab")
      i.fa.fa-user
      |  Pengaturan Dekan
  li.tt(role="presentation")
    a(href="#sin",aria-controls="sin",role="tab",data-toggle="tab")
      i.fa.fa-refresh
      |  Sinkrinisasi
  li.tt(role="presentation")
    a(href="#ppr",aria-controls="ppr",role="tab",data-toggle="tab")
      i.fa.fa-gear
      |  Pengaturan Prodi
  li.tt(role="presentation")
    a(href="#pds",aria-controls="pds",role="tab",data-toggle="tab")
      i.fa.fa-user
      |  Pengaturan Dosen
.tab-content
  br  
  .tab-pane#pkp.active(role="tabpanel")
    include __pkp.jade
  .tab-pane#pdk(role="tabpanel")
    include __pdk.jade
  .tab-pane#sin(role="tabpanel")
    include __sin.jade
  .tab-pane#ppr(role="tabpanel")
    include __ppr.jade
  .tab-pane#pds(role="tabpanel")
    include __pds.html
.modal.modal-fade#modal-edit(role="dialog")
  .modal-dialog.modal-primary
    .modal-content
      .modal-header
        button.close(type="button",data-dismiss="modal") &times;
        h4.modal-title Edit Dosen
      .modal-body.clearfix
        form
          .row
            .form-group
              label.col-sm-3 Nama
              .col-sm-9
                span aifjeiafjeifjei
          &nbsp;
          .row
            .form-group
              label.col-sm-3 Username
              .col-sm-9
                input.form-control
          &nbsp;
          .row
            .form-group
              label.col-sm-3 Password baru
              .col-sm-9
                input(type="password").form-control
          &nbsp;
          .row
            .form-group
              label.col-sm-3 Ulangi password baru
              .col-sm-9
                input(type="password").form-control
      .modal-footer
        button.btn.btn-primary(type="button",data-dismiss="modal") Simpan perubahan
        button.btn.btn-default(type="button",data-dismiss="modal") Close
    
            
