ul.nav.nav-tabs(role="tablist")
  li.active.tt(role="presentation")
    a(href="#ta",aria-controls="ta",role="tab",data-toggle="tab") 
      i.fa.fa-plus
      |  Tambah Admin
  li.tt(role="presentation")
    a(href="#ka",aria-controls="ka",role="tab",data-toggle="tab")
      i.fa.fa-pencil-square
      |  Kelola Admin
.tab-content
  br  
  .tab-pane#ta.active(role="tabpanel")
    .row
      form.col-sm-12.clearfix
        .row
          label.col-sm-2.text-right Kode Pegawai*
          .col-sm-3
            input.form-control
        br
        .row
          label.col-sm-2.text-right Nama*
          .col-sm-3
            input.form-control
            
        br
        .row
          label.col-sm-2.text-right Prodi*
          .col-sm-3
            select
              option Teknik Informatika
              option Teknik Industri
              option Teknik Kimia
              option Teknik Elektro
        br
        .row
          label.col-sm-2.text-right Username*
          .col-sm-3
            input.form-control 
        br
        .row
          label.col-sm-2.text-right Password*
          .col-sm-3
            input(type="password").form-control
            
        br
        .row.text-right
          .col-sm-5
            button.btn.btn-primary Tambah Admin
            button.btn.btn-default(type="reset") Ulangi
  .tab-pane#ka(role="tabpanel")
    .col-sm-10
      .tab-content
        .tab-pane.active#ti
          table.table.table-hover
            thead
              tr
                th #
                th Kode Pegawai
                th Nama
                th Username
                th Aksi
            tbody
              tr
                td 1
                td tu_informatika
                td TU informatika
                td tu_informatika
                td 
                  button.btn.btn-xs.btn-danger Hapus
        .tab-pane#tin
          table.table.table-hover
            thead
              tr
                th #
                th Kode Pegawai
                th Nama
                th Username
                th Aksi
            tbody
              tr
                td 1
                td tu_industri
                td TU industri
                td tu_industri
                td 
                  button.btn.btn-xs.btn-danger Hapus
        .tab-pane#tk
          table.table.table-hover
            thead
              tr
                th #
                th Kode Pegawai
                th Nama
                th Username
                th Aksi
            tbody
              tr
                td 1
                td tu_kimia
                td TU kimia
                td tu_kimia
                td 
                  button.btn.btn-xs.btn-danger Hapus
        .tab-pane#te
          table.table.table-hover
            thead
              tr
                th #
                th Kode Pegawai
                th Nama
                th Username
                th Aksi
            tbody
              tr
                td 1
                td tu_elektro
                td TU elektro
                td tu_elektro
                td 
                  button.btn.btn-xs.btn-danger Hapus
    .col-sm-2
      .tababble.tabs-right
        ul.nav.nav-tabs
          li.active
            a(href="#ti",aria-controls="ti",role="tab",data-toggle="tab") Teknik informatika
          li
            a(href="#tin",aria-controls="tin",role="tab",data-toggle="tab") Teknik industri
          li
            a(href="#tk",aria-controls="tk",role="tab",data-toggle="tab") Teknik kimia
          li
            a(href="#te",aria-controls="te",role="tab",data-toggle="tab") Teknik elektro
