// main: index.styl,libs: nib
#dashboard-admin
  .link-logout
    margin-top: 2px
    line-height 25px
    font-weight: 200
    button
      .btn-danger
        background-color: #ff3366
    span
      padding:8px 9.6px
      border:2.9px solid #aaa
      border-radius:18px
      color #aaa
      font-size: 12px
      &:hover
        color: red
        border:none
        border:2.9px solid red
  p
    line-height: 27px
  .admin-menu
    li
      span
        font-size 12px
      .pull-right
        i
          line-height 15px
      .super-small
        font-size: 8px
  #dash-container
    border: 1px solid #ccc;
    padding: 5px 5px 5px 5px
    border-radius: 3px

    #dash-pp
      width 100%
      background #aaa
      border-radius 5px
      img
        width: 100%
    #dash-info
      text-align center

      #nama-info
        font-size: 16px
        display: block;
        padding: 7px 0
      .role-info
        display: block;
        font-size: 11px
