// main: index.styl,libs: nib
#login-section
  width 100%
  height 100vh
  display flex
  flex-direction column
  justify-content center
  align-items center

  #ls-container
    height auto
    line-height 30px
    label
      color: #aaa
    .row
      margin 20px 0px
    .panel.panel-default
      border none
    .panel-heading
      height: 62px
      background background_head
      border-top-left-radius: 5px
      border-top-right-radius: 5px

      .login-head
        font-size: 26px
        font-weight: 500;
        line-height: 45px;
        color: #fff
    .panel-body
      background: background_main
    .panel-footer
      padding-top 13px
      padding-bottom: 13px
      .btn.btn-success
        background: #37d67a
        border: none
        width: 75px
