// main: ../main.styl
.navbar
  border-radius: 0

.navbar.navbar-inverse
  height: 60px

  .navbar-brand
    font-weight: 700
    margin-top: 2px

.jumbotron
  background: background_head
  border-radius: 5px
  color: #fff
#tb-info
  margin-bottom: 5px
.btn-sm
  font-size: 11.4px
